

     <section id="main-content">
      <section class="wrapper">
        
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Lista de Usuarios</h4>
              <div class="row">
                
                <div class="col-md-6">
                  {if="$error != ''"}
                  <br>

                  <div class="alert alert-danger"><b>Algo deu errado!</b> {$error}.</div>
                  {/if}
                  {if="$succes != ''"}
                  <br>

                  <div class="alert alert-success"><b>{$succes}</b></div>
              {/if}
                </div>

              </div>
              
              <section id="no-more-tables">
                <table class="table table-bordered table-striped cf">
                  <thead class="cf">
                    <tr>
                      <th>#</th>
                      <th ><i class="fa fa-user"> </i> Nome da Escola</th>
                      <th><i class="fa fa-envelope-o"> </i> Email</th>
                      <th><i class="fa fa-envelope-o"> </i> CNPJ</th>
                      <th><i class=" fa fa-user"> </i> Nome do Gestor</th>
                      <th><i class=" fa fa-adress"> </i> Endereço</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$escola"}
                      <tr>
                        <td data-title="#">
                          {$value.idescola}
                        </td>
                        <td data-title="Nome da Escola" class="hidden-phone">{$value.nomeescola}</td>
                        <td data-title="Email">{$value.email}</td>
                        <td data-title="CNPJ">{$value.cnpj}</td>
                        <td data-title="Nome do Gestor">{$value.nomegestor}</td>
                        <td data-title="Endereço">{$value.rua}, {$value.cidade}, {$value.estado}</td>
                        <td>
                          
                            {if="$value.statusescola == 0"}

                              <a class="btn btn-info btn-xs" onclick="return confirm('Deseja desbloquear o acesso a escola: {$value.nomeescola}?')" href="/admin/escola/{$value.idescola}/status/{$value.statusescola}">
                              <i class="fa fa-lock"></i> Bloqueado</a>

                            {else}

                            <a class="btn btn-info btn-xs" onclick="return confirm('Deseja desbloquear o acesso a escola: {$value.nomeescola}?')" href="/admin/escola/{$value.idescola}/status/{$value.statusescola}">
                              <i class="fa fa-unlock"></i> Desbloqueado</a>

                            {/if}
                          <a class="btn btn-primary btn-xs" href="/admin/escola/{$value.idescola}"><i class="fa fa-pencil"></i> Editar</a>
                          <a class="btn btn-danger btn-xs" onclick="return confirm('Deseja excluir a escola: {$value.nomeescola}?')" href="/admin/users/{$value.idescola}/delete"><i class="fa fa-trash-o "></i> Deletar</a>
                        </td>
                      </tr>
                   {/loop}
                  </tbody>
                </table>
              </section>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
