  <section id="main-content">
      <section class="wrapper site-min-height">

        <div class="row mt">
          <div class="col-lg-12">
            <br><h3><i class="fa fa-angle-right"></i> Alterar senha do aluno <b>{$nome}</b></h3></b>
            <div class="form-panel">
              <div class="row">
                    <div class="col-sm-12">
                        {if="$error != ''"}
                        <br>
                        <div class="alert alert-danger"><b>Algo deu errado!</b> {$error}.</div>
                        {/if}
                    </div>
                </div>
              <div class=" form">
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="/portal/alunos/{$id}/senha/">
                  
                  <div class="form-group ">
                    <label for="csenha" class="control-label col-lg-2">Nova Senha</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="senhaaluno" type="password" name="newpass" minlength="8"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="csenha" class="control-label col-lg-2">Repita a Senha</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="resenhaaluno" type="password" name="repass" minlength="8"/>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <input class="btn btn-theme" id="salvarsenha" type="submit" value="Salvar"></input>
                      <a class="btn btn-theme04" type="button" href="/portal/alunos/">Cancelar</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        
      </section>
      <!-- /wrapper -->
    </section>