  
  <section id="main-content">
  <section class="wrapper site-min-height">
    
    <div class="row mt">
      <div class="col-sm-12">
        <div class="form-panel">
          <div class="form">
            <h1>Download do Aplicativo <b>SIME</b></h1>
            <a class="btn btn-success" href="/res/Admin/app/SIME.apk">DOWNLOAD</a>
          </div>
        </div>
        <!-- /content-panel -->
      </div>
      <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
  </section>
  <!-- /wrapper -->
</section>
