 <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel" id="profile">
              <div class="col-md-7 profile-text  mb centered">
                  
                  <h4><b>{$escola.nomeescola}</b></h4>
                  <h5><b>CNPJ: {function="mascara($escola.cnpj, "##.###.###/####-##")"}</b></h5>
                  <h4><b>Gestor: {$escola.nomegestor}</b></h4>
                  
                  <hr>

                
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-3 profile-text mb centered">
               
                 <h4><b>Usuario: {$username}</b></h4>
                  {if="$user == 1"}
                    <h5><b>Administrator</b><h5>
                  {else}
                    <h5><b>Usuário</b></h5>
                  {/if}
                  <hr>
                
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-2 centered">
                <div class="profile-pic">
                  {if="$avatar == null"}
                    <p class="centered"><img src="/res/Admin/img/user-avatar/user.jpg" class="img-circle" width="100" height="100"></p> 
                  {else}
                    <p class="centered"><img src="/res/Admin/img/user-avatar/{$avatar}.jpg" class="img-circle" width="100" height="100"></p> 
                    
                  {/if}
                 
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            
            <div class="row content-panel">
                
              <div class="panel-heading">
                {if="$error != null"}
                   <div class="row">
                    
                    <div class="col-md-6">
                     
                      <br>

                      <div class="alert alert-danger"><b>Algo deu errado!</b> {$error}.</div>
                
                       
                      </div>

                  </div>
                {/if}
                {if="$success != null"}
                   <div class="row">
                   
                    <div class="col-md-6">
                     
                      <br>

                      <div class="alert alert-success"><b>{$success}</b></div>
                
                       
                      </div>

                  </div>
                {/if}
                <ul class="nav nav-tabs nav-justified">
                  
                  <li class="active">
                    <a data-toggle="tab" href="#contact" class="contact-map">Contato</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#edit">Editar Informações</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                 
                  <!-- /tab-pane -->
                  <div id="contact" class="tab-pane active">
                    <div class="row">
                      
                      <!-- /col-md-6 -->
                      <div class="col-md-12 detailed">
                        <div class="col-md-6">
                          <h4>Localização</h4>
                        <div class="col-md-8 col-md-offset-2 mt">
                          
                            <h5><b>Endereço<br/><br/> {$escola.rua}, {$escola.numero} - {$escola.bairro}<br/><br/> {$escola.cidade} - {$escola.estado}</b>
                            </h5>
                          <br>
                        </div>
                        </div>
                        <div class="col-md-6">
                          <h4>Contato</h4>
                        <div class="col-md-8 col-md-offset-2 mt">
                          <h5>
                            <b>Telefone: {function="mascara($escola.telefone, '(##)#####-####')"} <br/> <br/>Celular: {function="mascara($escola.celular, '(##)#####-####')"}<br/><br/>
                            Email: {$escola.email}<br/></b>
                          </h5>
                        </div>
                        </div>
                        
                        
                      </div>

                      <!-- /col-md-6 -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                  <div id="edit" class="tab-pane">
                    <div class="row">
                      <div class="col-lg-12 detailed">
                        <h4 class="mb">Informações da escola</h4>
                        <form class="form-horizontal" action="/portal/profile/" method="POST">
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Nome da Escola</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="nomeescola" placeholder=" " id="c-name" class="form-control" value="{$escola.nomeescola}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>CNPJ</b></label>
                            <div class="col-lg-6">
                              <input type="text" placeholder=" " id="lives-in" class="form-control" readonly value="{function="mascara($escola.cnpj, "##.###.###/####-##")"}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Nome do Gestor</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="nomegestor" placeholder=" " id="country" class="form-control" value="{$escola.nomegestor}">
                            </div>
                          </div>
                  
                        <h4 class="mb">Contato e endereço</h4>
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Rua</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="rua" placeholder=" " id="addr1" class="form-control" value="{$escola.rua}">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Número</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="numero" placeholder=" " id="addr2" class="form-control" value="{$escola.numero}">
                            </div>
                          </div>
                      
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Bairro</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="bairro" placeholder=" " id="addr2" class="form-control" value="{$escola.bairro}">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Telefone</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="telefone" placeholder=" " id="phone" class="form-control" value="{$escola.telefone}" readonly>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Celular</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="celular" placeholder=" " id="cell" class="form-control" value="{$escola.celular}" readonly>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label"><b>Email</b></label>
                            <div class="col-lg-10">
                              <input type="text" name="email" placeholder=" " id="email" class="form-control" value="{$escola.email}" readonly>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              {if="$inadmin == 1"}
                              <button class="btn btn-theme" type="submit">Salvar Informações</button>
                              <a href="/portal/profile/" class="btn btn-theme04" type="button">Cancelar</a>
                              {/if}
                            </div>
                          </div>
                        </form> 
                  

                      <!-- /col-lg-8 -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section> 

