

     <section id="main-content">
      <section class="wrapper site-min-height ">
        
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Lista de Usuários</h4>
              <div class="row">
                
                <div class="col-md-6">
                  {if="$error != ''"}
                  <br>

                  <div class="alert alert-danger"><b>Algo deu errado!</b> {$error}.</div>
                  {/if}
                  {if="$succes != ''"}
                  <br>

                  <div class="alert alert-success"><b>{$succes}</b></div>
                  {/if}
                </div>

              </div>
              
              <section id="no-more-tables">
                <table class="table table-bordered table-striped cf">
                  <thead class="cf">
                    <tr>
                      <th ><i class="fa fa-user"> </i> Nome</th>
                      <th><i class="fa fa-envelope-o"> </i> Email</th>
                      <th><i class=" fa fa-user"> </i> Nome de Usuário</th>
                      <th><i class=" fa fa-user"> </i> Avatar</th>
                      <th><i class=" fa fa-flag"> </i> Nivel</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$users"}
                      <tr>
                        
                        <td data-title="Nome">{$value.nomepessoa}</td>
                        <td data-title="Email">{$value.emailpessoa}</td>
                        <td data-title="Nome de Usuário">{$value.usuario}</td>
                        {if="$value.avatar == null"}
                        
                          <td data-title="Avatar" class="center"><img src="/res/Admin/img/user-avatar/user.jpg" width="30" height="30"></td>
                        {else}
                          <td data-title="Avatar" class="center"><img src="/res/Admin/img/user-avatar/{$value.usuario}.jpg" width="30" height="30"></td>
                        {/if}
                        

                        <td data-title="Nivel"><span class="label label-primary label-mini">{if="$value.inadmin == 0"}Usuario{else}Administrador{/if}</span></td>
                        <td>
                          {if="$value.statususuario == 0"}
                          <a class="btn btn-info btn-xs" onclick="return confirm('Deseja desbloquear o acesso ao usuário: {$value.usuario}?')" href="/portal/users/{$value.idusuario}/status/{$value.statususuario}">
                            
                              <i class="fa fa-lock"></i> Bloqueado</a>
                            {else}
                             <a class="btn btn-info btn-xs" onclick="return confirm('Deseja bloquear o acesso ao usuário: {$value.usuario}?')" href="/portal/users/{$value.idusuario}/status/{$value.statususuario}">
                              <i class="fa fa-unlock"></i> Desbloqueado</a>
                            {/if}
                          <a class="btn btn-info btn-xs" href="/portal/users/{$value.idusuario}/password"><i class="fa fa-lock"></i> Alterar Senha</a>
                          <a class="btn btn-primary btn-xs" href="/portal/users/{$value.idusuario}"><i class="fa fa-pencil"></i> Editar</a>
                          <a class="btn btn-danger btn-xs" onclick="return confirm('Deseja excluir o usuário: {$value.usuario}?')" href="/portal/users/{$value.idusuario}/delete"><i class="fa fa-trash-o "></i> Deletar</a>
                        </td>
                      </tr>
                   {/loop}
                  </tbody>
                </table>
              </section>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
