@charset "UTF-8";
body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 600 !important;
  color: rgba(38,  41, 42, 1);
}

i{
  font-size: 15em;
  color: #000;
}
.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: rgba(38,  41, 42, 1); !important;
}
.text-black{
  color: #000;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {

  background-color: rgba(38, 41, 42, 1);
 

}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;

}

.navbar-dark .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.94);
}


.navbar-dark .navbar-toggler-icon {
  background: unset; 
    color: #000;    
}
.navbar-dark .navbar-toggler-icon i {
    font-size:28px
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05rem;
  text-align: center;
  transition: 0.5s;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover{
    color: rgba(0, 153, 209, 1);
    transition: 0.5s;
}


header.masthead {
  position: relative;
  overflow: hidden;
  
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(0deg, rgb(43, 155, 199) 0%, rgb(119, 194, 218) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}





header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 0.1rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2.0rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(30,144,255)), to(rgb(0,191,255)));
  background: linear-gradient(0deg, rgb(30,144,255) 0%, rgb(0,191,255) 100%);
}


@media (max-width: 992px){
  .navbar-custom .navbar-nav .nav-item {
    border-right: 0px;
    border-bottom: 0.5px solid #000;
  }
}

header.masthead .masthead-content .masthead-heading {
  font-size: 1.5rem;
}
header.masthead .masthead-content .masthead-subheading {
  font-family:  'Lato';
  font-size: 1.2rem;
  font-weight: 0;
}


.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: rgba(47, 96, 195, 1);
  border-color: rgba(47, 96, 195, 1);
  font-family: 'Poppins', sans-serif;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: rgba(47, 96, 195, 0.8) !important;
  border-color: rgba(47, 96, 195, 0.8) !important;

}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

#content{

  position: relative;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}

#content span{
  font-family: 'Lato';
  font-size: 15pt;
  font-weight: 500 !important;
}

#btnEscola{
    margin-top: 10px;
}

.banner{
  margin-top: -100px;
  height: 800px;
  width: 100%;
}

.conteudo{
  margin-top: -450px;
}

#about{
  margin-top: 5%;
  background: #fff;

}

#about h3{
  font-weight: 600 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #3498db;
  text-align: center;
  border-bottom: 1px solid #000;
  border-color: #7f8c8d;
}

#about p{
  font-weight: 300 !important;
  font-family: 'Poppins', sans-serif;
  color:  #7f8c8d;
  text-align: center;
}

.planos{

  padding-top: 5%;
  background: #3498db;
  
}

.planos .col-sm-4{

  padding-top: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.planos h3{
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}


#preco{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
  border: 1px solid #fff;
  border-radius: 10%;
}
.planos p{
  text-align: center;
  color: #fff;
}





section.pricing {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  
  transition: all 0.2s;
}

.col-lg-6{
  margin-bottom: 20px;
}

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}







@media (max-width: 992px){
  .banner{
    margin-top: 00px;
    height: 600px;
    width: 200%;
  }

  .conteudo{
    margin-top: -450px;
  }
}

@media (max-width: 600px){
  .banner{
   
    height: 600px;
    width: 250%;
  }

  .conteudo{
    margin-top: -450px;
  }
} 