

     <section id="main-content">
      <section class="wrapper">
        <br>
       
        <a type="submit" class="btn btn-warning" id="btnEscola" ><i class="fa fa-minus-square"></i> Finalizar Frequencia</a>

        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Lista de Frequencia</h4>
              <div class="row">
                
                <div class="col-md-6">
                  {if="$error != ''"}
                  <br>

                  <div class="alert alert-danger"><b>Algo deu errado!</b> {$error}.</div>
                  {/if}
                  {if="$succes != ''"}
                  <br>

                  <div class="alert alert-success"><b>{$succes}</b></div>
                  {/if}
                </div>
                                             
                
                 
              </div>
              <section id="no-more-tables">
                <table class="table table-bordered table-striped cf">
                  <thead class="cf">
                    <tr>
                      <th>#</th>
                      <th ><i class="fa fa-user"> </i> Aluno</th>
                      <th><i class=" fa fa-flag"> </i> CPF</th>
                      <th><i class="fa fa-envelope-o"> </i> Hora Entrada</th>
                      <th><i class=" fa fa-flag"> </i> Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$frequencia"}
                      <tr>
                        <td data-title="#">
                          {$value.idfrequenciaaluno}
                        </td>
                        <td data-title="Aluno" class="hidden-phone">{$value.nomepessoa}</td>
                        <td data-title="CPF" class="hidden-phone">{$value.cpfpessoa}</td>
                        {if="$value.hrentrada == null"}
                          <td data-title="Hora Entrada">Sem entrada registrada</td>
                        {else}
                          <td data-title="Hora Entrada">{$value.hrentrada}</td>
                        {/if}
                        <td data-title="Status">
                            {if="$value.hrentrada == null"}
                                Ausente
                            {elseif="$value.hrentrada != null && $value.hrsaida == null"}
                                Saida não registrada
                            {else}
                                Presente
                            {/if}

                        </td>
                        <td>
                          {if="$value.hrentrada == null"}
                              <a class="btn btn-primary btn-xs" href="/portal/value/{$idfrequencia}/detalhes/justificar/"><i class="fa fa-pencil"></i> Justificar Ausencia</a>
                          {elseif="$value.hrentrada != null && $value.hrsaida == null"}
                              <a class="btn btn-primary btn-xs" href="/portal/frequencia/{$idfrequencia}/detalhes/justificar/"><i class="fa fa-pencil"></i> Justificar Ausencia</a>
                          {else}
                              <a class="btn btn-primary btn-xs disabled" ><i class="fa fa-pencil"></i> Justificar Ausencia</a>
                          {/if}
                          
                          <a class="btn btn-primary btn-xs" href="/portal/frequencia/{$idfrequencia}/detalhes/{$value.idfrequenciaaluno}"><i class="fa fa-pencil"></i> Editar</a>
                          <a class="btn btn-danger btn-xs" onclick="return confirm('Deseja excluir a frequencia?')" href="/portal/frequencia/{$idfrequencia}/detalhes/{$value.idfrequenciaaluno}/delete"><i class="fa fa-trash-o "></i> Deletar</a>
                        </td>
                      </tr>
                   {/loop}
                  </tbody>
                </table>
              </section>
              
            </div>

            <!-- /content-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
