

     <section id="main-content">
      <section class="wrapper site-min-height">
        <br>
       
        
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Lista de Frequencia</h4>
              <div class="row">
                
                <div class="col-md-6">
                  {if="$error != ''"}
                  <br>

                  <div class="alert alert-danger"><b>Algo deu errado!</b> {$error}.</div>
                  {/if}
                  {if="$succes != ''"}
                  <br>

                  <div class="alert alert-success"><b>{$succes}</b></div>
                  {/if}
                </div>
                                             
                
                 
              </div>
              <section id="no-more-tables">
                <table class="table table-bordered table-striped cf">
                  <thead class="cf">
                    <tr>
                      <th ><i class="fa fa-user"> </i> Aluno</th>
                      <th><i class=" fa fa-card"> </i> CPF</th>
                      <th><i class="fa fa-clock-o"> </i> Hora Entrada</th>
                      <th><i class=" fa fa-flag"> </i> Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$frequencia"}
                      <tr>
                        
                        <td data-title="Aluno"  >{$value.nomepessoa}</td>
                        {$cpf = $value.cpfpessoa}
                        {if="$cpf == null"}
                          <td data-title="CPF" >Aluno sem CPF</td>
                        {else}
                          <td data-title="CPF" >{function="mascara($cpf, '###.###.###-##')"}</td>
                        {/if}
                        {if="$value.hrentrada == null"}
                          <td data-title="Hora Entrada">Sem entrada registrada</td>
                        {else}
                          <td data-title="Hora Entrada">{function="formatarHora($value.hrentrada)"}</td>
                        {/if}
                        <td data-title="Status">
                            {if="$value.hrentrada == null"}
                                {if="$value.frequenciaocorrencia_idfrequenciaocorrencia == null"}
                                  Falta não justificada
                                {else}
                                  Falta justificada
                                {/if}
                            {else}
                                Presente
                            {/if}

                        </td>
                        <td>
                          {if="$value.hrentrada == null"}
                            {if="$value.frequenciaocorrencia_idfrequenciaocorrencia == null"}
                              <a class="btn btn-primary btn-xs" href="/portal/frequencia/{$idfrequencia}/detalhes/{$value.idfrequenciaaluno}/"><i class="fa fa-pencil"></i> Justificar Ausência</a>
                            {else}
                              <a class="btn btn-primary btn-xs disabled"><i class="fa fa-pencil"></i> Justificar Ausência</a>
                            {/if}

                          {/if}
                          
                        </td>
                      </tr>
                   {/loop}
                  </tbody>
                </table>
              </section>
              
            </div>

            <!-- /content-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
